
.page-main {
  //flex-grow: 11;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .page-map {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 100%;
    position: relative;


  }
}


.fa-shopping-cart {
  padding-right: 10px;
}