
.page-main {
  //flex-grow: 11;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .page-map {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    position: relative;
    overflow: hidden;


  }
}


.fa-shopping-cart {
  padding-right: 10px;
}

.added-items {
  color: #e85a71;
}

.fa-user {
  color: #4ea1d3;
}