//Load modules
@import "module/colors";
@import "module/mixins";
@import "module/variables";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #085078;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85D8CE, #085078);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85D8CE, #085078);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Rajdhani', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.window {
  background-color: rgba(255, 255, 255, 0.3);
  height: 75vh;
  width: 1200px;
  border-radius: 25px;
  margin-top: 12.5vh;
  display: flex;
  position: relative;
}

/* ------------------------------------------------------------- */
/* sign-in */
/* ------------------------------------------------------------- */



#container {
  text-align: center;
  position: fixed;
  width: 340px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -170px;
}

.form-link{
  text-decoration: none;
  text-transform: uppercase;
  color: $color-three;
  font-weight: 900;
  font-size: 30px;
  border: 1px solid $color-two;
  border-radius: 10px;
  padding: 5px;
}

.signin-link {
  margin-right: 25px;
  margin-bottom: 50px;
  background-color: $color-one;
}

form {
  margin: 0 auto;
  margin-top: 20px;
}
label {
  color: $color-three;
  display: inline-block;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 800;
}

p a {
  font-size: 11px;
  color: #aaa;
  float: right;
  margin-top: -13px;
  margin-right: 20px;
}
p a:hover {
  color: #555;
}
input {
  font-size: 18px;
  outline: none;
}
input[type=text],
input[type=password] {
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
  border: 1px solid $color-three;
  border-radius: 10px;
}

#lower {
  text-align: center;
  width: 100%;
  height: 69px;
  margin-top: 20px;
}
input[type=checkbox] {
  margin-top: 30px;
}
.check {
  margin-left: 3px;
}
input[type=submit] {
  margin-top: 24px;
  text-align: center;

}

.button {
  background: #3498db;
  display: inline-block;
  background-color: $color-three;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 64px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  color: $color-two;
  &:hover {
    background-color: rgba(8,80,120,0.8);
    border-color: $color-three;
    color: $color-two;
  }
  &:active {
    background-color: #5284a0;
    border-color: #CCC;
  }
}