.page-nav-submenu {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 3;
  width: 30%;
  height: 100%;
  background-color: rgb(220, 220, 220);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
