body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #085078;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85D8CE, #085078);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Rajdhani', sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto; }

.window {
  background-color: rgba(255, 255, 255, 0.3);
  height: 66vh;
  width: 1200px;
  border-radius: 25px;
  margin-top: 12.5vh;
  display: flex;
  position: relative; }

.button {
  background: #3498db;
  display: inline-block;
  background-color: #085078;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px; }
  .button:focus {
    outline-color: #85D8CE;
    color: #85D8CE; }
  .button:hover {
    background-color: rgba(8, 80, 120, 0.8);
    border-color: #e3e3e3;
    color: #85D8CE; }
  .button:active {
    background-color: #5284a0;
    border-color: #CCC; }

input:focus {
  outline-color: #85D8CE;
  color: #85D8CE; }

.fas, .far {
  font-size: 34px; }

.close-button {
  margin: 20px;
  text-decoration: none;
  color: #85D8CE;
  position: absolute;
  top: -10px;
  left: 0; }
  .close-button:hover {
    color: #085078; }

.page-nav {
  flex-grow: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #085078; }
  .page-nav .page-nav-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    .page-nav .page-nav-list .page-nav-el {
      line-height: 172.5px; }
      .page-nav .page-nav-list .page-nav-el .page-nav-link {
        text-align: center;
        color: #85D8CE; }

.page-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .page-main .page-map {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    position: relative;
    overflow: hidden; }

.fa-shopping-cart {
  padding-right: 10px; }

.added-items {
  color: #e85a71; }

.fa-user {
  color: #4ea1d3; }

.page-nav-submenu {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 6;
  width: 30%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.added-submenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 30%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.submenu-img {
  background-color: #85D8CE;
  border-bottom: 3px solid #085078;
  border-top-right-radius: 25px;
  color: #085078;
  text-align: center;
  padding-top: 25px; }
  .submenu-img .submenu-photo {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    background-image: url("https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    background-position: 0 200px;
    border-radius: 50%;
    border: 3px solid #085078; }
  .submenu-img .submenu-name {
    text-transform: uppercase; }

.submenu-score {
  padding-bottom: 20px; }
  .submenu-score .fa-star {
    padding-right: 5px;
    font-size: 16px; }

.submenu-info {
  border-bottom-right-radius: 25px;
  color: #085078;
  text-align: center; }
  .submenu-info .submenu-edit, .submenu-info .submenu-save {
    color: #85D8CE;
    padding: 10px 50px; }
  .submenu-info .submenu-save {
    margin-right: 10px; }

.submenu-table {
  font-size: 16px;
  margin: 50px 20px; }
  .submenu-table tbody tr {
    line-height: 25px; }
    .submenu-table tbody tr td {
      text-align: left;
      padding-left: 5px; }
      .submenu-table tbody tr td:first-child {
        padding: 0 7px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 5px; }

.table {
  border-radius: 5px; }

.fa-circle {
  font-size: 10px; }

.submenu-messages {
  z-index: 4; }
  .submenu-messages .messages-tittle {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #085078; }

.messages-element {
  color: #085078;
  border: 2px solid #85D8CE;
  border-radius: 10px;
  padding: 10px;
  margin: 20px; }
  .messages-element::after {
    content: "";
    clear: both;
    display: table; }
  .messages-element .messages-icon {
    float: left;
    margin-left: 20px;
    font-size: 20px; }
  .messages-element .messages-delete {
    float: right;
    font-size: 20px;
    margin-left: 10px; }
  .messages-element .messages-reply {
    float: right;
    font-size: 20px; }

.messages-element i {
  color: #85D8CE; }
  .messages-element i:hover {
    color: #085078; }

.message-unread {
  background-color: #ededed; }

.messages-time {
  float: right; }

.messages-text {
  float: left;
  margin-top: 10px; }

.submenu-history {
  z-index: 4; }
  .submenu-history .history-tittle {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #085078; }
  .submenu-history .history-subtitle {
    color: #085078;
    text-align: center; }

#history-el {
  color: #085078; }

.history-element {
  border: 2px solid #85D8CE;
  border-radius: 10px;
  padding: 10px;
  margin: 20px; }
  .history-element::after {
    content: "";
    clear: both;
    display: table; }
  .history-element .history-icon {
    float: left;
    margin-left: 2px;
    font-size: 20px; }

.history-select-rating {
  float: right;
  position: relative; }
  .history-select-rating .history-rating {
    float: right;
    font-size: 20px;
    margin-left: 10px; }

.history-time {
  float: right;
  margin-bottom: 3px; }

.history-text {
  float: left;
  margin-top: 10px; }

.history-link {
  text-decoration: none; }
  .history-link .history-rating {
    color: #85D8CE;
    font-size: 20px; }
    .history-link .history-rating:hover {
      color: #85D8CE; }

.add-button {
  color: #85D8CE;
  margin-right: 40px;
  position: absolute;
  bottom: 90px;
  right: 70px;
  padding: 10px 25px;
  font-size: 20px; }

.add-list {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 37%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center; }
  .add-list .add-list-title {
    text-transform: uppercase;
    color: #085078;
    text-align: center; }
  .add-list .add-list-final {
    padding: 12px 70px;
    font-size: 20px;
    color: #85D8CE; }

.add-list-form {
  text-align: center;
  border: 1px solid #85D8CE;
  margin: 35px;
  border-radius: 10px; }
  .add-list-form .add-list-subtitle {
    color: #085078; }
  .add-list-form .add-list-input {
    color: #085078;
    padding-left: 10px;
    width: 200px;
    height: 30px;
    border: 1px solid #085078;
    border-radius: 10px;
    margin-bottom: 5px; }
    .add-list-form .add-list-input:last-child {
      margin-bottom: 20px; }
  .add-list-form i {
    color: #85D8CE;
    font-size: 22px;
    margin-right: 10px; }
  .add-list-form .list-button {
    padding: 5px 10px;
    margin: 10px;
    color: #85D8CE; }
  .add-list-form .add-list-time {
    margin: 10px 10px;
    width: 133px; }

.add-list-remove {
  color: #85D8CE;
  margin-left: 10px; }
  .add-list-remove .fa-minus-circle {
    font-size: 22px; }
    .add-list-remove .fa-minus-circle:hover {
      color: #085078; }

.added-list {
  color: #085078;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 37%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase; }
  .added-list .added-list-title {
    margin-top: 80px;
    line-height: 30px; }
  .added-list .added-list-item {
    margin: 15px auto;
    width: 40%;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #85D8CE;
    border-radius: 10px;
    background-color: #e3e3e3;
    padding: 7px; }
  .added-list .added-list-time {
    font-weight: 700;
    font-size: 16px;
    color: #085078;
    margin-top: 30px; }
    .added-list .added-list-time .fa-calendar-alt {
      font-size: 16px;
      margin-right: 5px; }
  .added-list .button {
    color: #85D8CE;
    margin-top: 30px;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 18px; }

.added-date, .added-time {
  font-size: 18px; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #085078;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85D8CE, #085078);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Rajdhani', sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto; }

.window {
  background-color: rgba(255, 255, 255, 0.3);
  height: 75vh;
  width: 1200px;
  border-radius: 25px;
  margin-top: 12.5vh;
  display: flex;
  position: relative; }

/* ------------------------------------------------------------- */
/* sign-in */
/* ------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #085078;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85D8CE, #085078);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Rajdhani', sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto; }

.window {
  background-color: rgba(255, 255, 255, 0.3);
  height: 75vh;
  width: 1200px;
  border-radius: 25px;
  margin-top: 12.5vh;
  display: flex;
  position: relative; }

/* ------------------------------------------------------------- */
/* sign-in */
/* ------------------------------------------------------------- */

